[submodule "/Users/mike/Enlistments/FishLamp/Working/FishLamp-Cocoa-App/Piecemeal-XcodeConfigs"]
	path = /Users/mike/Enlistments/FishLamp/Working/FishLamp-Cocoa-App/Piecemeal-XcodeConfigs
	url = https://github.com/piecemeal/Piecemeal-XcodeConfigs.git
